pkgbase = kasane-bin
	pkgdesc = Alternative frontend for the Kakoune text editor (prebuilt binary)
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/Yus314/kasane
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = kakoune>=2024.12.09
	depends = vulkan-icd-loader
	depends = wayland
	depends = libxkbcommon
	provides = kasane
	conflicts = kasane
	source = LICENSE-MIT::https://raw.githubusercontent.com/Yus314/kasane/v0.5.0/LICENSE-MIT
	source = LICENSE-APACHE::https://raw.githubusercontent.com/Yus314/kasane/v0.5.0/LICENSE-APACHE
	sha256sums = 7df959e3ed3c0ceeec7e83bfebd6fa4f81b62d36618f2aacdd97331c2c38369a
	sha256sums = 1263c7c3105ecd7de4af8c5535c4c563d0973e5f6d175d353bceba720b31ebf1
	source_x86_64 = kasane-v0.5.0-x86_64-linux-gnu.tar.gz::https://github.com/Yus314/kasane/releases/download/v0.5.0/kasane-v0.5.0-x86_64-linux-gnu.tar.gz
	sha256sums_x86_64 = 57c512b6a50158326c7f516c05b7bf8c3fc8fa3a4c252d5619154a5955dcba1b
	source_aarch64 = kasane-v0.5.0-aarch64-linux-gnu.tar.gz::https://github.com/Yus314/kasane/releases/download/v0.5.0/kasane-v0.5.0-aarch64-linux-gnu.tar.gz
	sha256sums_aarch64 = 78fe5d790682fe772be9e6f389babe1a2958881f0c699ab3f0d9f8bce9ab569e

pkgname = kasane-bin
