pkgbase = kasane-bin
	pkgdesc = Alternative frontend for the Kakoune text editor (prebuilt binary)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Yus314/kasane
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = kakoune>=2024.12.09
	provides = kasane
	conflicts = kasane
	source = LICENSE-MIT::https://raw.githubusercontent.com/Yus314/kasane/v0.2.0/LICENSE-MIT
	source = LICENSE-APACHE::https://raw.githubusercontent.com/Yus314/kasane/v0.2.0/LICENSE-APACHE
	sha256sums = 7df959e3ed3c0ceeec7e83bfebd6fa4f81b62d36618f2aacdd97331c2c38369a
	sha256sums = 1263c7c3105ecd7de4af8c5535c4c563d0973e5f6d175d353bceba720b31ebf1
	source_x86_64 = kasane-v0.2.0-x86_64-linux-gnu.tar.gz::https://github.com/Yus314/kasane/releases/download/v0.2.0/kasane-v0.2.0-x86_64-linux-gnu.tar.gz
	sha256sums_x86_64 = 82d0a76da3a40b47b46cc6b8af58bfaac92c7bc77fe65aaaee2b7a7d86e6b37d
	source_aarch64 = kasane-v0.2.0-aarch64-linux-gnu.tar.gz::https://github.com/Yus314/kasane/releases/download/v0.2.0/kasane-v0.2.0-aarch64-linux-gnu.tar.gz
	sha256sums_aarch64 = b4e35e89bded13f6cd644fcecdfd538312a6530242f1cb933702ab3ae70b8c70

pkgname = kasane-bin
